language: php

sudo: false

notifications:
  email:
    on_success: never
    on_failure: change

before_script:
  - composer install --dev --prefer-source --no-interaction

script:
  - vendor/bin/phpunit

php:
  - 7.1
  - 7.2
  - 7.3
  - 7.4
